.twitter-header {
    display: flex;
    justify-content: space-between;
}

.twitter-post-container {
    width: 100%;
}

.twitter-header-logo {
    width: 35px;
    height: 35px;
    margin: 15px;
}

.twitter-header-date {
    margin: 25px 0;
    font-size: 14px;
    font-weight: 600;
}

.twitter-media {
    width: 640px;
}

.tweet {
    margin: 25px;
    text-align: left;
}

.tweet-author-container {
    margin: 25px;
    text-align: left;
}

.tweet-user {
    color: blue;
}

.tweet-hashtag {
    color: blue;
}

.twitter-media-attachment {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}