.register-title {
    margin: 0;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 28px;
}

.register-login-container {
    color: white;
}

.register-login-container a {
    color: black;
}

.register-login-container  a:hover {
    color: rgb(175, 175, 175);
}

#register-button {
    width: 66%;
    min-width: 200px;
    margin: 15px auto 0;
}