.feed {
    margin: 1px 0;
    border-right: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.feed-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feed-title {
    margin: 0;
}