.instagram-header {
    display: flex;
    justify-content: space-between;
}

.instagram-header-logo {
    width: 35px;
    height: 35px;
    margin: 15px;
}

.instagram-header-date {
    margin: 25px 0;
    font-size: 14px;
    font-weight: 600;
}

.instgram-media {
    width: 640px;
}