.login-title {
    margin: 0;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 28px;
}

.login-register-container {
    color: white;
}

.login-register-container a {
    color: black;
}

.login-register-container a:hover {
    color: rgb(175, 175, 175);
}

#login-username, #login-password {
    margin-top: 10px;
}

#login-button {
    width: 66%;
    min-width: 200px;
    margin: 15px auto 0;
}

#login-form {
    padding: 10px 25px;
}