.edit-profile-panel {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.edit-profile-heading {
    text-align: center;
}

#delete-profile, #update-profile {
    margin: 20px auto;
}